// // kort med info om Cornelia

.card {
  flex-direction: row;
  height: 90vh;

  &__contentLeft {
    max-width: 500px;
    min-height: 55vh;
    max-height: 60vh;
    justify-content: space-between;

    .card__title {
      font-size: 2.5rem;
    }

    .cardBtnMail {
      transition: z-index linear;

      &:hover {
        color: transparent;
      }
      &:focus {
        &:active {
          color: transparent;
        }
      }

      .card__buttonFont {
        transition: opacity 0s;
        transition: z-index 0s;
        transition: transform 0.3s;
        &:active {
          color: $color-active-font;
        }
      }
      &:hover {
        .card__buttonFont {
          opacity: 1;
          z-index: 5;
          transform: rotate(360deg);
        }
      }
    }

    .card__list {
      min-height: 10px;
      max-height: 40px;
      .card__item {
        .card__link {
          transition: all 0.3s;

          &:hover {
            background-color: $color-text-light;
            color: #557848;
          }
        }
      }
    }
  }

  &__contentRight {
    max-width: 500px;
    min-height: 55vh;
    max-height: 60vh;

    .card__img {
      max-width: 300px;
    }
  }
}
// // generella selektorer som är på flera element

.header2 {
  font-size: 1.8rem;
}

.header3 {
  font-size: 1.6rem;
}

.listItem {
  font-size: 1.3rem;
  padding: 10px;
}

// // sida 2
// // bakgrund

.container__page2 {
  .sectionBackground {
    .container__background {
      max-width: 1000px;
      min-width: 1000px;

      .backgroundContainer__left {
        height: 40%;

        .articleBackground {
          #articleBackground__text {
            font-size: 1.3rem;
          }
        }
      }
      .backgroundContainer__right {
        height: 40%;
      }
    }
  }
}

// //animation

// .flip {
//   font-size: 3.5rem;
// }

// // arbetslivserfarenhet och utbildning

.sectionWork,
.sectionEducation {
  .container__work,
  .container__education {
    max-width: 1000px;
    min-width: 1000px;
  }
}

// länk portfolio

// .aside__portfolio {
//   .link__portfolio {
//     font-size: 3.5rem;
//     transition: all 0.1s ease-in-out;
//     &:hover {
//       font-size: 3.7rem;
//       .arrow {
//         opacity: 1;
//       }
//     }
//   }
// }

// quote-banner

.bannerQuote {
  .banner__text-Stretch {
    font-size: 1rem;
  }

  .banner__footer-Stretch {
    font-size: 1rem;
  }
}

// // footer

.footerContainer2 {
  max-width: 1000px;
  min-width: 1000px;
}

.socials__list {
  li {
    .socials__links {
      &:hover {
        border: 2px solid $color-menu;
      }
    }
  }
}

.contact__links {
  &:hover {
    font-size: 1.1rem;
  }
}
