//colors
$color-menu: #525564;
$color-background: #fafafa;
$color-background-dark: url(../img/dark-green-plant-g32edfed8d_1920.jpg);
$color-background-dark-trans: #557848f5;
$color-text-light: #fafafa;
$color-text-dark: black;
$color-active: #52556480;
$color-active-font: #def2f1;
$color-focus-outline: 2px solid $color-menu;
$box-shadow: grey;

//fonts
$font: "Open Sans", sans-serif;
